ödev çözümü

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt; plt.rcdefaults()
import warnings
warnings.filterwarnings('ignore')
#new_index=['A','B','C']
#P = pd.DataFrame(index=new_index)

In [28]:

P = pd.DataFrame({'Bozuk_oran': [0.015,0.020,0.010],'Saglam_oran': [0.985,0.980,0.990],'Toplamdaki_oran': [0.40,0.40,0.20]},index=['A','B','C'])
P

   Bozuk_oran  Saglam_oran  Toplamdaki_oran
A       0.015        0.985              0.4
B       0.020        0.980              0.4
C       0.010        0.990              0.2

In [34]:
#P(D)=P(D|A)+P(D|B)+P(D|C)
P['Toplamdaki_bozuk']=P['Bozuk_oran']*P['Toplamdaki_oran']
print(P)
P['Toplamdaki_bozuk'].sum()
#P(B)
P['Toplamdaki_oran']['B']
#P(D|B)
P['Bozuk_oran']['B']
#P(B|D)=(P(B)*P(D|B))/P(D)
(P['Bozuk_oran']['B']*P['Toplamdaki_oran']['B'])/P['Toplamdaki_bozuk'].sum()

   Bozuk_oran  Saglam_oran  Toplamdaki_oran  Toplamdaki_bozuk
A       0.015        0.985              0.4             0.006
B       0.020        0.980              0.4             0.008
C       0.010        0.990              0.2             0.002

0.5